* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", serif !important;
  font-weight: 400;
}

.alternate-style,
#alternate-style {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.pink-text {
  color: rgb(231, 157, 155);
}
#navbarMenu {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.navbar-subheading {
  font-size: 0.5rem;
}
.bluish-grey-color {
  color: #4a4867;
}
.deep-blue-color {
  color: #05014a !important;
}

.deep-blue-background-color {
  background-color: #05014a !important;
}

.grey-color {
  color: #666362;
}

.nav-item a {
  font-size: 0.7rem;
}

.navbar-icons img {
  width: 10%;
}

.page-form {
  background: #ffffff;
  width: 80%;
  height: fit-content;
  margin-right: 5%;
}

.page-banner-form-buttom {
  background-color: #05014a;
  color: #ffffff;
}

.page-banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
  flex-direction: column;
  padding: 3rem 0;
}

.page-banner-heading {
  width: 90%;
}

.page-banner-heading-button {
  width: 50%;
  padding: 1rem;
  border: none;
}

.page-banner-form img {
  width: 15%;
}

.form-date-inputs {
  width: 35%;
  font-size: smaller;
}

.hotel-images {
  height: 60vh;
}
.room-1 {
  z-index: 1;
  top: 1vh;
  width: 48vw;
}

.room-3 {
  width: 55vw;
  top: 25rem;
  margin-left: -3.5rem;
  z-index: 3;
  padding-left: 4rem;
}

.room-2 {
  width: 55vw;
  top: 15rem;
  left: -3.5rem;
  z-index: 2;
  padding-left: 4rem;
  padding-bottom: 4rem;
  margin-bottom: 5rem;
}


.show-rooms {
  flex-direction: column;
}

.show-room-details {
  background-color: #05014a;
  color: #ffffff;
  padding: 1rem;
}

.show-room-details button {
  border: 1px solid white;
}

.show-room-pictures {
  width: 100%;
  overflow: hidden;
  height: 70vh;
}

.show-room-pictures img {
  position: absolute;
  width: 100%;
  height: 70vh;
}

.show-room-pictures-previous-button,
.show-room-pictures-next-button {
  background: transparent;
  color: #ffffff;
  border: none;
  position: absolute;
  transition: all 0.2s ease-in-out;
  top: 50%;
}

.show-room-pictures-previous-button:hover,
.show-room-pictures-next-button:hover {
  scale: 1.5;
}

.show-room-pictures-previous-button {
  left: 2rem;
}

.show-room-pictures-next-button {
  right: 2rem;
}

.slide {
  transition: 0.5s all ease-in-out;
}

.section-why-choose-our-hostel {
  flex-direction: column;
}

.activity-pool-smile {
  flex-direction: column;
}

.activity-pool-smile img {
  height: 100%;
}

.activity-pool-smile-details {
  background-color: #05014a;
  padding: 1rem;
  color: #ffffff;
}

.activity-pool-smile-details button {
  border: 1px solid white;
}

.services-section button {
  border: 1px solid #05014a;
  width: 10rem;
}

.services-banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  margin-top: 2rem;
}

.services-banner > div {
  background-color: #ffffff;
  width: 70%;
  height: fit-content;
  position: relative;
  top: 2rem;
}

.reviews {
  background-color: #fefaf6;
}
.review-name {
  width: 65%;
  margin: -30% 0 0 20%;
}

.trip {
  width: 20%;
  margin: -35% 0 0 85%;
}
.ratingComponent {
  margin-left: -65%;
  text-align: center;
}

.ratingComponent__rating {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.ratingComponent__dot {
  background-color: transparent;
  border: solid 2px #06ca78;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin: 0 5px 0 0;
}
.ratingComponent__dot--filled {
  background-color: #06ca78;
}
.ratingComponent__dot--halfFilled {
  background-color: #06ca78;
  width: 9px;
  border-radius: 10px 0 0 10px;
  margin-right: 15px;
}
.ratingComponent__dot--halfFilled::after {
  content: "";
  display: block;
  position: relative;
  left: 7px;
  top: -2px;
  width: 8px;
  height: 16px;
  border-radius: 0 10px 10px 0;
  border: solid 2px #06ca78;
}

.card {
  border: none !important;
  background-color: #fffaf6 !important;
}

.location-section {
  flex-direction: column;
}

.location-section img {
  width: 10%;
}

.location-travel-options {
  padding: 1rem;
}

.location-travel-option img {
  width: 20%;
  height: 20%;
}

.location-map > p > iframe {
  width: 100%;
  height: 40vh;
}

.travel-section {
  flex-direction: column;
  background-color: #fffaf6;
  padding: 1rem;
}

.travel-section-images img {
  width: 80%;
}

.travel-section-details {
  justify-content: center;
  align-items: center;
}

.travel-section-details button {
  background-color: #05014a;
}

.update-section > div {
  border: 0.5px solid #666362;
  padding: 0.7rem;
  width: 95%;
}

.update-section > div > input {
  border: none;
  width: 80%;
}

.update-section > div > button {
  background-color: #05014a;
}

footer {
  padding: 5%;
}

footer > div {
  flex-direction: column;
}

footer p {
  font-size: 10px;
  padding: 10px 0 0 0;
}

footer img {
  width: 5%;
}

footer hr {
  background-color: #666362;
  color: #666362;
  height: 1px;
}

.select-language-footer {
  display: flex;
}

.select-language-footer > div {
  display: none !important;
}

/* Responsive for desktop screen */
@media screen and (min-width: 960px) {
  footer {
    padding: 0 10rem;
  }

  .navbar-icons img {
    width: 30%;
  }

  .page-banner {
    flex-direction: row;
  }

  .page-banner-heading {
    width: 50%;
  }

  .page-banner-heading h4 {
    width: 60%;
  }

  .page-banner-form {
    width: 30%;
    height: fit-content;
    left: -8%;
  }

  .form-date-inputs {
    width: 48%;
    font-size: medium;
  }

  #check-in,
  #check-out {
    width: 30vw;
  }

  .page-banner-right-arrow {
    width: 5%;
  }

  .hotel-details {
    padding: 10%;
  }

  .room-1 {
    top: -2rem;
    left: 2rem;
    width: 70%;
  }

  .room-2 {
    width: 70%;
    top: 11rem;
    left: 6rem;
  }

  .room-3 {
    width: 75%;
    top: 20rem;
    left: 3rem;
  }
  .show-rooms {
    flex-direction: row;
  }

  .section-why-choose-our-hostel {
    flex-direction: row;
  }

  .activity-pool-smile {
    flex-direction: row;
    width: 100%;
  }

  .activity-pool-smile-img {
    width: 50%;
  }
  .activity-pool-smile img {
    width: 100%;
  }
  .activity-pool-smile-details {
    width: 50%;
    padding: 5%;
  }
  .services {
    width: 22%;
  }
  .hello-service {
    width: 50% !important;
    margin-top: 5%;
  }
  .services-banner > div {
    width: 30%;
    height: fit-content;
    position: relative;
    padding: 4rem !important;
    top: 1.5rem;
    left: 20%;
  }

  .review-name {
    margin: 2% 0 0 2%;
    width: 85%;
  }

  .ratingComponent {
    margin-left: -42%;
  }

  .location-section {
    flex-direction: row;
  }

  .location-travel-option img {
    width: 20%;
    height: 35%;
  }

  .location-map {
    width: 50%;
  }

  .location-map > p > iframe {
    padding: 10% 10% 10% 0;
    width: 100%;
    height: 90vh;
  }

  .location-travel-options {
    width: 50%;
    padding: 5rem 0 5rem 5rem !important;
  }

  .travel-section {
    flex-direction: row;
  }

  .travel-section-images {
    top: -5rem;
  }

  .travel-picture-small {
    width: 100vw;
  }

  .small-travel-picture {
    width: 220% !important;
  }

  .update-section > div {
    width: 45%;
  }

  footer > div {
    flex-direction: row;
  }

  footer img {
    width: 10%;
  }

  footer > div > div {
    width: 15%;
  }

  .select-language-footer {
    display: flex;
  }

  .select-language-footer > div {
    display: flex !important;
    right: 0;
  }
}

@media screen and (min-width: 992px) and (max-width: 1410px) {
  .trip {
    width: 35%;
    margin-top: -70%;
  }

}

@media screen and (min-width: 961px) and (max-width: 991px) {
  .trip {
    width: 35%;
    margin-top: -120%;
  }
}

@media screen and (min-width: 767px) and (max-width: 960px) {
  .review-name {
    width: 90%;
    margin: -10% 0 0 -11%;
  }
  .trip {
    width: 45%;
    margin-top: -130%;
  }
  .ratingComponent {
    margin-left: -35%;
  }
  /* .room-1 {
    top: 1rem;
    width: 80%;
  }

  .room-2 {
    width: 95%;
    top: 13rem;
    left: -1rem;
  }

  .room-3 {
    width: 100%;
    top: 23rem;
  } */
}
@media screen and (min-width: 411px) and (max-width: 767px) {
  .review-name {
    width: 70%;
    margin: -21% 0 0 25%;
  }
  .trip {
    width: 25%;
    margin: -30% 0 0 75%;
  }
  .ratingComponent {
    margin-left: -75%;
  }
 
  footer {
    width: fit-content;
    padding: 9%;
  }
}
